:root {
    --darkcyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayishblue: hsl(228, 12%, 48%);
    }

    * {
        margin: 0;
        padding: 0;
    }


    
.container {

    background-color: var(--cream);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 90vh 10vh;
    place-items: center stretch ;
    
}

.preview {
    background-image: url('images/image-product-desktop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vh;
    width: 23vw;
    grid-column: 1/2;
    grid-row: 1;
    justify-self: right;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.details {
    display: grid;
    height: 70vh;
    width: 23vw;
    background-color: white;
    grid-column: 2/3;
    grid-row: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

h1, h3, p {
    margin: 0rem 2rem;
    line-height: 1;
}
h1 {
    
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
    margin: 2rem 0 0 2rem;
    font-family: 'Montserrat', serif;
    color: var(--darkcyan);
    letter-spacing: .5rem;
    font-size: 1.3rem;
}

h3 {
    
    font-family: 'Fraunces', serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: .8;
    color: var(--darkcyan);
}

h4 {
    
    color: var(--darkcyan);
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    padding-top: .5rem;
}


p {
    
    color: var(--darkgrayishblue);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
}

.pricing {
    display: flex;
    
}
.cart img {
    
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.cart {      
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    background-color: var(--darkcyan);
    margin: 1rem 2rem 2rem 2rem;
    justify-content: center;
    align-items: center;
}

.attribution{
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    font-family: Montserrat;
    font-size: 1rem;
    margin: auto;
    padding: 1rem;
}

@media screen and (max-width: 1440px){
    * {
        font-size: .8rem;
    }

    .preview {
        background-size: 120%;
    }

   
}

@media screen and (max-width: 375px){
    * {
        font-size: .6rem;
    }

    .container {
        display: grid;
        background-color: var(--cream);
        
        grid-template-columns: 1fr;
        grid-template-rows: 45vh 55vh;
        justify-items: center;
        align-items: end;
       
    }

    .preview {
        background-image: none;
        background-image: url('images/image-product-mobile.jpg');
        
        background-position: center bottom;
        background-size: 110% 100%;
        
        height: 42vh;
        width: 90vw;
        grid-column: 1/3;
        grid-row: 1;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 20px;
        justify-self: center;
    }

    
    .details {
        display: grid;
        align-self: baseline;
        height: 52vh;
        width: 90vw;
        background-color: white;
        grid-column: 1/3;
        grid-row: 2;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 20px;   
        border-bottom-left-radius: 20px;   
    }

    .attribution{
        display: none;
        grid-column: 1/3;
        grid-row: 3;
        text-align: center;
        border-radius: 10px;
        background-color: white;
        font-family: Montserrat;
        font-size: 1rem;
        margin: auto;
        padding: 1rem;
    }

    .cart {      
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        color: white;
        border-radius: 10px;
        background-color: var(--darkcyan);
        margin: 1rem 2rem 2rem 2rem;
        justify-content: center;
        align-items: center;
    }
}






